/outputs/Combined/
/shapefiles/*
*__pycache__/
*/cache/
/figures/
/dev/
*old*
*test*
/manuscript/*
/outputs/ML_Results/result_figures/*
/outputs/ML_Results/shap/*
/source/GTFS/*
/outputs/transit-access-eu/*